<ion-view title="iRecycle" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="iRecycle-heading1" style="color:#000000;font-weight:300;text-align:center;">Welcome to iRecycle!</h1>
    <div id="iRecycle-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">iRecycle is a revolutionary project aimed at urban areas to help the environment. In the future this app will help you to find nearby recycling facilities maintained by the L_GPU machines. We hope this can make a change. In the meantime we hope
        this link to google will suffice.</p>
    </div>
    <a href-inappbrowser="https://www.google.com/search?q=find+recycling+center+near+me&amp;sa=X&amp;ved=0ahUKEwjBtZD2-o7hAhWkzlkKHZXzAAgQuzEICQ&amp;biw=1366&amp;bih=646&amp;dpr=1" id="iRecycle-button1" class="button button-positive button-block">Locate A Facility</a>
  </ion-content>
</ion-view>